<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>현재위치를 알려주세요.</title>
</head>
<script src="http://code.jquery.com/jquery-1.11.0.js"></script>
<script>
    let k // = new FormData();
    navigator.geolocation.getCurrentPosition(function(pos) {
        var latitude = pos.coords.latitude;
        var longitude = pos.coords.longitude;
        alert("현재 위치는 : " + latitude + ", "+ longitude);
        // k.append("latitude", latitude);
        // k.append("longitude", longitude);
        k = {latitude:latitude+"", longtitude:longitude+""};
    });

    async function test(){
        // async await fetch로도 구성해보기.
        const response = await fetch("/account", {
            method: "POST",
            headers: {
                "Content-Type" : "application/json",
            },
            body: JSON.stringify(k)
        })

        console.log(await response.text())


        // //fetch로도 구성해보기.
        // fetch("/account", {
        //     method: "POST",
        //     headers: {
        //         "Content-Type" : "application/json",
        //     },
        //     body: JSON.stringify(k)
        // }).then((response) => console.log(response))

        // $.ajax({
        //     url: "/account",
        //     data: k,//JSON.stringify(k),
        //     type : 'POST',
        //     // dataType: 'json',
        //     // contentType : "application/json",
        //     contentType: false,
        //     processData: false,
        //     success: function(e) {
        //         alert("성공~~~")
        //     },
        //     fail: function(e){
        //         alert("실패했습니다 오류코드는:"+e);
        //     }
        // });
    }
</script>
<body>
<input type="button" id="button1" onclick="test();" value="버튼1" />
</body>
</html>

